/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.btn{
    width: 164px;
    height: 44px;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px 12px 16px;
    align-items: center;
    gap: 10px;
  
    

   
   
}
/* main style */
header{
    background-color: #FFFFFF;
    width: 1600px;
    width: 100%;
   
}
nav{
    max-width: 1341px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo img{
    width: 139px;
    height: 60px;
  
  
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#000000;
    font-family: Inter;
}
 .hero{

    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   width: 1600px;
   height: 674px;
   margin: 0 auto;
   background: url(./assets/hero-bg.png);
   font-family: Inter;
}
.container{
    width: 1360px;
    height: 379px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
 .dot{
    height: 10px;
    width: 10px;
    background-color: #30B868;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 2px 10px #30B868;
    gap: 6px;
}
.badge{
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    justify-content: center;
}

.container h1{
    font-size: 72px;
    color: #FFFFFF;
    width: 770px;
    height: 168px;  
}

.container h1 span{
    color: #30B868;
}

#pra{
    font-size: 18px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin-top: 16px;
}

div .hero-button-1{
    width: 251px;
    height: 52px;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: Inter;
    margin-top: 32px;
}
div .hero-button-2{
    width: 198px;
    height: 52px;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: Inter;
    margin-top: 32px;
